@font-face {
  font-family: "Kame";
  src: url("./../assets/fonts/kame-book.woff2"),
    url("./../assets/fonts/kame-book.woff");
}

/* @font-face {
  font-family: "Kame";
  src: url("./../assets/fonts/kame-book.woff2") format("woff2"),
    url("./../assets/fonts/kame-book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Kame";
  src: url("./../assets/fonts/kame-poster.woff2") format("woff2"),
    url("./../assets/fonts/kame-poster.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
  */

@font-face {
  font-family: "Kame Poster Black";
  src: url("./../assets/fonts/kame-poster-black.woff2"),
    url("./../assets/fonts/kame-poster-black.woff");
}

@import "tailwindcss";

@theme {
  --font-sans: "Kame", sans-serif;
  --font-kame-poster-black: "Kame Poster Black", sans-serif;
}
