---
import "../styles/global.css";
// Component Imports
import Button from "../components/Button.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro + TailwindCSS</title>
  </head>
  <style>
    img {
      --s: 10px; /* control the size */
      padding: var(--s);
      border: calc(2 * var(--s)) solid #0000;
      outline: 1px solid #000;
      outline-offset: calc(-1 * var(--s));
      background: conic-gradient(from 90deg at 1px 1px, #0000 25%, #000 0);
    }
  </style>
  <body class="bg-[#D4C0B4]">
    <div class="grid grid-cols-12 gap-4 p-6 min-h-screen">
      <!-- Card principal -->
      <div class="col-span-12 md:col-span-8 bg-white p-6 rounded-2xl shadow-lg">
        <div class="h-full flex">
          <div>
            <h2 class="font-kame-poster-black text-5xl">Dr Matheus Fontes Escobar, PsyD</h2>
            <p class="text-gray-600 mt-2">
              Nulla excepteur eiusmod consequat cillum tempor eiusmod veniam
              amet nisi est est et ullamco qui. Laboris consequat esse eiusmod
              cupidatat mollit id irure velit sunt. Sit nisi labore nisi non est
              nulla pariatur commodo non commodo ea aliqua ullamco.
            </p>
          </div>
          <img
            src="/src/assets/images/profile-pic.jpg"
            alt="Foto de Cachorro"
            class="w-48 h-64 object-cover rounded-md sepia-[0.5] contrast-[1.2] brightness-[0.9]"
          />
        </div>
      </div>

      <!-- Texto secundário -->
      <div class="col-span-12 md:col-span-4 bg-white p-6 rounded-2xl shadow-lg">
        <h3 class="text-xl font-semibold">Contato</h3>
        <p class="text-gray-600 mt-2">Ferrumetum nulla...</p>
        <Button class="mt-4">Learn More</Button>
      </div>
      <div class="col-span-12 md:col-span-4 bg-white p-6 rounded-2xl shadow-lg">
        <h2 class="text-3xl font-bold">O melhor psicólogo que você pode ter</h2>
        <p class="text-gray-600 mt-2">
          BUM frase de efeito
        </p>
        <Button class="mt-4">Learn More</Button>
      </div>

      <!-- Texto secundário -->
      <div class="col-span-12 md:col-span-8 bg-white p-6 rounded-2xl shadow-lg">
        <h3 class="text-xl font-semibold">
          Escrever alguns cursos/experiência aqui em tópicos?
        </h3>
        <p class="text-gray-600 mt-2">Ferrumetum nulla...</p>
        <Button class="mt-4">Learn More</Button>
      </div>
    </div>
  </body>
</html>
